@import "tailwindcss";

@font-face {
  font-family: DSEG14 Classic Mini;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/DSEG14ClassicMini-Regular.woff2") format("woff2");
}

@font-face {
  font-family: DSEG14 Classic Mini;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/DSEG14ClassicMini-LightItalic.woff2") format("woff2");
}

@theme {
  --font-dseg14: "DSEG14 Classic Mini", sans-serif;
}

html,
body,
#root {
  @apply fixed top-0 left-0 h-full w-full bg-amber-100;
}
